body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #333;
}

header {
    background-color: #00796b;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #00796b;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan {
    background-image:url("garden.jpg"); 
    background-size:inherit ; 
    background-repeat:no-repeat;

    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(187, 120, 120, 0.1);
    padding: 15px;
    margin: 15px;
    width: 30%;
    text-transform: capitalize;
    text-size-adjust: bold;
    text-align: center;
}

.plan h3 {
    color: #00796b;
}

button {

    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    align-items: end;
}

button:hover {
    background-color: #004d40;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #004d40;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
